@import "tailwindcss";

@theme {
    --font-title: "Liter", "sans-serif"; 
    --font-body: "Mulish", "sans-serif";
    --color-title: #FFF;
    --color-body: #FFF;
    --color-dark : #1B1919;
  }
@layer base{
    h1,h2,h3,h4,h5,h6{
        @apply font-title;
    }
    h1{
        @apply xl:text-[120px] md:text-[80px] text-[50px] font-bold font-title;
    }
    h2{
        @apply xl:text-[120px] md:text-[80px] text-[50px] font-bold ;
    }
    p{
        @apply text-[20px] font-body;
        color: var(--color-body);
    }
    .container{
        @apply  px-10 
    }
    html{
        scroll-behavior: smooth;
    }
}
@layer components{
    .hero-title{
        @apply xl:text-[120px] md:text-[55px] text-[30px] font-bold font-title tracking-tight whitespace-nowrap;
    }
}
@layer utilities{
    .hero-title{
        color:var(--color-title)
    }
    header a{
        color:var(--color-body);

    }
    .spin-ornament{
        animation: spin 9s linear infinite;
    }
    .opening-header-title{
        @apply xl:text-[120px] md:text-[80px] text-[60px] font-bold font-title text-center;
    }
    header{
        transition: all 500ms ease;
    }
    header.scrolled-down{
        @apply -top-[200px];
    }
    header.scrolled{
        @apply bg-dark
    }
    .recent-project-description{
        @apply text-[var(--color-dark)];
    }
    .recent-project-title{
        @apply xl:text-7xl md:text-[60px] text-[40px] font-semibold
    }
    .recent-project-item figure{
        @apply shadow-md
    }
    .strokeme {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgb(147, 123, 203);
      }
      .bg-menu-drawer.menu-open ~ .hamburger{
        @apply opacity-100 delay-300;
    }
    .hero-section svg{
        @apply max-lg:w-[50px] max-lg:h-[50px]
    }
    
}
.bg-menu-drawer {
    @apply transform transition-transform duration-500; 
    transform-origin: top center; 
}

.bg-menu-drawer.menu-closed {
    @apply scale-y-0; 
}

.bg-menu-drawer.menu-open {
    @apply scale-y-100;
    transform-origin: bottom center; 
}
